.small {
  background-color: red;
  height: 300px;
  padding: 20px;
}

.medium {
  background-color: green;
  height: 300px;
  padding: 20px;
  /*border-width: 5px 20px 50px;*/
  /*border-color: black;*/
  /*border-style: solid;*/
}

.desktop {
  background-color: blue;
  height: 300px;
  padding: 20px;
  /*border-width: 5px 20px 50px;*/
  /*border-color: black;*/
  /*border-style: solid;*/
}

@media only screen and (max-width: 300px){
  body {
    background-color: red;
    font-size: 12px;
  }
  .small {
    width: 100%;
    border-width: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
  }

  .medium {
    width: 100%;
    border-width: 0 5px 5px 5px;
    border-color: black;
    border-style: solid;
  }

  .desktop {
    width: 100%;
    border-width: 0 5px 5px 5px;
    border-color: black;
    border-style: solid;
  }
}
* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) and (min-width: 300px){
  body {
    background-color: green;
    font-size: 14px;
  }

  .small {
    width: 33.33%;
    float: left;
    border-width: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    overflow: auto;
  }

  .medium {
    width: 33.33%;
    float: left;
    border-width: 5px 5px 5px 0;
    border-color: black;
    border-style: solid;
    overflow: auto;
  }
  .desktop {
    width: 33.33%;
    float: right;
    border-width: 5px 5px 5px 0;
    border-color: black;
    border-style: solid;
    overflow: auto;
  }
}

@media only screen and (min-width: 768px){
  body {
    background-color: blue;
    font-size: 16px;
  }
  .small {
    width: 33.33%;
    float: left;
    border-width: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
  }

  .medium {
    width: 33.33%;
    float: left;
    border-width: 5px 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .desktop {
    width: 33.33%;
    float: right;
    border-width: 5px 5px 5px 0;
    border-color: black;
    border-style: solid;
  }
}
